div
{
   height:200px;
   width:200px;
}

#first
{
    background-color:cadetblue;
    padding:20px;
    border:10px solid black;
    
    

}
#first p
{
    margin:0;
}
#second
{
    background-color:gold;
    border-top:20px solid black;
    border-bottom:20px solid black;
    border-left:10px solid black;
    border-right:10px solid black;
    margin:0px 260px;


}
#third
{
    background-color:indianred;
    border:10px solid black;
    margin: 0px 40px;
}